body{
	margin: 0px;
	padding: 0px;	

}

.nav,
.nav2,
a,
h3{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

p,
h1,
h4{
	font-family: 'Gentium Book Basic', serif;
}

a,
a:hover{
	text-decoration: none;
}

ul{
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 10px 0px;
	padding: 0px;
	justify-content: space-around;
	align-items: flex-start;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.spacer{
	padding-top: 120px;
}

#wrapper{
	width: 100%;
	height: 100vh;
	background-image: url(images/homeTop.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;

}

#top{
    background-color: rgba(12,23,34,1) !important;
    height: 50px;
    padding: 8px 0;
    box-sizing: content-box;
}

#top2{
	width: 100%;
	height: 80px;
	background-image: url(images/homeTop.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	position: fixed;
	top: 0;
	z-index: 9999;
}

.topContainer{
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.title{
	padding-top: 25vh;
}

.title h1{
	color: white;
	font-size: 5em;
	text-align: center;
}

.title h3{
	color: red;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1em;
	font-size: 1.5em;
	text-align: center;
}

.title p{
	color: white;
	font-style: italic;
	text-align: center;
}

nav{
	padding-top: 1em;
}

.navbar{
	width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
	color: #616382;
}

.navbar-dark .navbar-nav .nav-link,
.nav a,
.nav2 a{
	//color: #616382;
	//padding: 0.5em;	
	text-transform: uppercase;
	letter-spacing: 0.15em;
	font-size: 1em;
}

.navbar-dark .navbar-nav .nav-link:hover,
.nav a:hover,
.nav2 a:hover {
	color: white;
}


.bg-light {
	background-color: rgba(12,23,34,1) !important;
}

.current a{
	padding-bottom: 5px;
	border-bottom: 2px solid red;
	color: white;
}

.txtContainer{
	line-height: 1.8em;
	padding-top: 18px;
}

#text div:nth-of-type(1) .txtContainer:nth-of-type(1) p:nth-of-type(1):first-letter{
	font-weight: bold;
	float: left;
	font-size: 350%;
    margin: 0 .1em 0 0;
    padding-top: 18px;
}


/*/////////////////////*/
.textContainer{
	margin: 0 auto;
	width: 35%;
	line-height: 1.8em;
}

#text .textContainer:nth-of-type(1) p:nth-of-type(1):first-letter{
	font-weight: bold;
	float: left;
	font-size: 350%;
    margin: 0 .1em 0 0;
    padding-top: 18px;
}

/*  ///////////////////////////   */

#text{
	margin-top: 120px;
}

#text2 .textContainer:nth-of-type(1) p:nth-of-type(1):first-letter{
	font-weight: bold;
	float: left;
	font-size: 350%;
    margin: 0 .1em 0 0;
    padding-top: 18px;

}

.img-01-container{
	margin: 50px auto;
	width: 35%;
	line-height: 1.8em;
}

.img01{
	float: right;
}

.txt01{
	float: right;
	position: absolute;
	width: 35%;
}

.aside{
	border-top: 2px red solid;
	//text-align: left;
	padding: 0;
}

.clearfix:before,
.clearfix:after {
    content: "";   
    display: block;
}

.clearfix:after {
	clear: both;
}

blockquote{
	font-size: 1.3em;.
	line-height: 2em;
	border-left: 2px red solid;
	padding: 5px 0px 5px 15px;
	margin: 50px 0px;
}

.mixed{
	margin: 0 auto;
	width: 35%;
	line-height: 1.8em;
}

.inTxt{
	//margin-right: 10px;
}

.outImg{
	float: none;
	width: 100%;
	margin-left: 0px;
}

.video{
	width: 100%;
}

.comments{
	width:7em;
	margin: 0 auto;
	text-align: center;
	font-style: italic;
	margin-top: 50px;
	border-bottom: 2px solid red;
}

.more{
	margin-top: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.more div{
	width: 40%;
	position: relative;
}

.more h4{
	font-size: 1.5em;
}

.more p{
	line-height: 1.3em;
}

.more a{
	color: red;
	text-transform: uppercase;
	font-size: 0.9em;

}

.more a:hover{
	color:black;
}

.more div:nth-of-type(2) a{
	float: right;
}

.prevbtn{
	position: absolute;
	left:-18px;
}

.nextbtn{
	position: absolute;
	right:-18px;
}

footer{
	height: 576px;
	background-image: url(images/footer.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}

.footerContainer{
	//margin: 0 auto;
	//width: 70%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin: 0 auto;
	width: 70%;
	height: 95%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

.copy p{
	color: #616382;
	font-family: 'Roboto', sans-serif;
	font-size: 0.8em;
	//padding-left: 15px;
}

.nav2{
	padding-right: 15px;
}

.nav2 a{
	margin: 0px 10px;
}

form label{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 0.8em;
	display: block;
}

form input[type="email"],
form textarea{
	width: 100%;
}

form textarea{
	height: 150px;
}

form input[type="submit"]{
	float: right;
	background: none;
	border: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: red;
	text-transform: uppercase;
	font-size: 0.9em;
}

form input[type="submit"]:hover{
	color: black;
	cursor: pointer;
}


form{
	margin-bottom: 100px;
}

@media (min-width: 992px){

	.topContainer{
		width: 60%;
	}

	.navbar{
		width: 60%;
	}


	.navbar-expand-lg .navbar-nav {
		width: 100%;
	}

	.bg-light {
		background-color: rgba(12,23,34,1) !important;
	}

	.outImg{
		float: right;
		width: 30%;
		margin-left: 20px;
	}

	.video{
		width: auto;
	}
}

